@model ShoseShop.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng ký</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a>Đăng ký</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img src="~/Content/img/dk.png" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng ký tài khoản</h3>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row login_form", id = "contactForm", novalidate = "novalidate" }))
                    {
                        @Html.HiddenFor(m => m.Taikhoan.Email, new { value = "123" })
                        @Html.HiddenFor(m => m.Khachhang.EmailNavigation.Email, new { value = "123" })
                        @Html.HiddenFor(m => m.Khachhang.EmailNavigation.MatKhau, new { value = "123" })

                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(m => m.Khachhang.TenKhachHang, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Khachhang.TenKhachHang)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(m => m.Khachhang.Email, new { @class = "form-control", placeholder = "Email" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Khachhang.Email)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.PasswordFor(m => m.Taikhoan.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Taikhoan.MatKhau)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(m => m.Khachhang.Phone, new { @class = "form-control", placeholder = "Số điện thoại" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Khachhang.Phone)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.DropDownListFor(m => m.Khachhang.GioiTinh,
                                new List<SelectListItem> {
                                    new SelectListItem { Text = "Nam", Value = "true" },
                                    new SelectListItem { Text = "Nữ", Value = "false" }
                                },
                                new { @class = "form-control" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Khachhang.GioiTinh)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(m => m.Khachhang.NgaySinh, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", placeholder = "Ngày sinh" })
                            <span class="text-danger" style="position:absolute; left:0; margin-top:-3px; margin-left:30px;">
                                @Html.ValidationMessageFor(m => m.Khachhang.NgaySinh)
                            </span>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng ký</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
