@model ShoseShop.Data.PhieuMua


<h3>Chi tiết đặt hàng</h3>
<div>
    <h4>Mã đặt hàng: @Model.MaPhieuMua</h4>
    <p>Ngày đặt: @Model.NgayMua.ToString("dd/MM/yyyy")</p>
    <p>Trạng thái: @Model.TinhTrang</p>
    <p>Tổng số tiền: @Model.TongTien?.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
    <h4>Đặt hàng các mặt hàng</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Kích thước</th>
                <th>Màu sắc</th>
                <th>Đơn giá</th>
                <th>Tổng số tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ChiTietPhieuMuas)
            {
                var totalPrice = item.SoLuong * item.DonGia;
                <tr>
                    <td>@item.MaSPSizeNavigation.MaSPCTNavigation.MaSPNavigation.TenSanPham</td>
                    <td>@item.SoLuong</td>
                    <td>@item.MaSPSizeNavigation.MaSizeNavigation.TenSize</td>
                    <td>@item.MaSPSizeNavigation.MaSPCTNavigation.MaMauNavigation.TenMau</td>
                    <td>@item.DonGia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                    <td>@totalPrice.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>