@using System.Diagnostics

@model List<ShoseShop.ViewModel.SanphamViewModel>

<style>
    .product-images img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;
    }

        .product-images img:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

    .product-details {
        opacity: 1;
        transition: opacity 0.8s ease-in;
    }

        .product-details.lost {
            display: none;
            opacity: 0;
        }

    .product-images.hidden {
        display: none;
    }
</style>

@section scripts {
    <script>
        var maMau1 = '@ViewBag.maMau1';
        var maLoai1 = '@ViewBag.maLoai';
        var searchString1 = '@ViewBag.searchString1';
        var sortGia1 = '@ViewBag.sortGia1';
        var minPrice1 = '@ViewBag.minPrice1';
        var maxPrice1 = '@ViewBag.maxPrice1';

        $(document).ready(function () {
            $('#sortGia').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    sortGia1 = selectedValue;
                    getToController();
                }
            });

            $('.pixel-radio.mauInput').click(function () {
                var selectedValue = $(this).attr('value');
                var isSelected = $(this).hasClass('selected');

                if (isSelected) {
                    $(this).css({ 'border': 'none' });
                    maMau1 = '';
                    $(this).removeClass('selected');
                } else {
                    $('.pixel-radio.mauInput').css({ 'border': 'none' }).removeClass('selected');
                    $(this).css({
                        'border': '5px solid #FFBA00',
                        'box-sizing': 'border-box'
                    }).addClass('selected');
                    maMau1 = selectedValue;
                }
                getToController();
            });

            $('#search_input').val(searchString1);

            var priceRange = document.getElementById("price-range2");
            var lowerValue = document.getElementById("lower-value2");
            var upperValue = document.getElementById("upper-value2");

            var minPrice = 0;
            var maxPrice = 10000000;
            var lowerBound = 0;
            var upperBound = 10000000;

            lowerValue.textContent = lowerBound;
            upperValue.textContent = upperBound;

            noUiSlider.create(priceRange, {
                start: [lowerBound, upperBound],
                connect: true,
                range: { 'min': minPrice, 'max': maxPrice },
                step: 500000,
            });

            priceRange.noUiSlider.on('update', function (values, handle) {
                var value = values[handle];
                if (handle == 0) {
                    lowerValue.innerText = formatPrice(Math.round(value));
                } else {
                    upperValue.innerText = formatPrice(Math.round(value));
                }
                minPrice1 = values[0];
                maxPrice1 = values[1];
                getToController();
            });

            function formatPrice(price) {
                return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }

            function getToController() {
                $.ajax({
                    url: '@Url.Action("SanPhamTheoLoai", "SanPham")',
                    type: 'GET',
                    data: {
                        page: null,
                        searchString: searchString1,
                        maMau: maMau1,
                        sortGia: sortGia1,
                        minPrice: minPrice1,
                        maxPrice: maxPrice1,
                        maLoai: maLoai1
                    },
                    success: function (response) {
                        $('.lattest-product-area .row').html(response);
                    },
                });
            }
        });

        function showProductDetails(element) {
            var productDetails = element.querySelector('.product-details');
            productDetails.classList.toggle('lost');
            var productImages = element.querySelector('.product-images');
            productImages.classList.toggle('hidden');
        }
    </script>
}

<section class="banner-area organic-breadcrumb mb-5">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Loại sản phẩm</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index", "Home")">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Mua sắm<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Loại sản phẩm</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container" id="content">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-filter mt-0">
                <form action="@Url.Action("SanPhamList", "SanPham")" method="get" id="form-search">
                    <div class="top-filter-head">Lọc sản phẩm</div>
                    <div class="common-filter">
                        <div class="head">Màu sắc</div>
                        <ul>
                            @foreach (SelectListItem mau in ViewBag.MauList)
                            {
                                <li class="filter-list">
                                    <input class="pixel-radio mauInput" type="radio" name="color" style="background-color:@mau.Value" value="@mau.Value" />
                                    <label>@mau.Text</label>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="common-filter">
                        <div class="head">Giá</div>
                        <div class="price-range-area">
                            <div id="price-range2"></div>
                            <div class="value-wrapper d-flex">
                                <div class="price">Giá từ:</div>
                                <div id="lower-value2"></div>
                                <span>₫</span>
                                <div class="to"> - </div>
                                <div id="upper-value2"></div>
                                <span>₫</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select id="sortGia" name="sortGia">
                        <option value="0">Sắp xếp giá</option>
                        <option value="1">Giá giảm dần</option>
                        <option value="2">Giá tăng dần</option>
                    </select>
                </div>
            </div>

            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    @Html.Partial("_PartialSanPhamTheoLoai", Model)
                </div>
            </section>
        </div>
    </div>
</div>

