@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model List<ShoseShop.Data.Banner>

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">

                    
                    @if (Model != null && Model.Any())
                    {
                     
                        foreach (var banner in Model)
                        {
                            <div class="row single-slide align-items-center d-flex">
                                <div class="col-lg-5 col-md-6">
                                    <div class="banner-content">
                                        <h1>@banner.Tenbanner</h1>
                                        <h3>@banner.Slogan</h3>
                                        <div class="add-bag d-flex align-items-center">
                                          
                                            <a class="primary-btn" href="@Url.Action("Index", "SanPham")">Mua sắm bây giờ</a>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="banner-img">
                                        <a href="@Url.Action("Index", "SanPham")">
                                          
                                            <img class="img-fluid" style="max-width:657px;max-height:394px;"
                                                 src="@Url.Content("~/Content/img/banner/" + banner.Vitri)" alt="@banner.Tenbanner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <h1>Bộ Sưu Tập Mới</h1>
                                    <h3>Chào mừng đến với cửa hàng</h3>
                                    <div class="add-bag d-flex align-items-center">
                                        <a class="primary-btn" href="@Url.Action("Index", "SanPham")">Mua sắm bây giờ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img class="img-fluid" src="@Url.Content("~/Content/img/banner/default-banner.png")" alt="Default Banner">
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


@if (Session["Khuyenmai"] != null && (int)Session["Khuyenmai"] == 1)
{
    @Html.Action("PdSliderSale", "Home")
}

<div class="my-4"></div>

@Html.Action("HomeProductSlider", "Home", new { trangthai = 3 })
@Html.Action("HomeProductSlider2", "Home", new { trangthai = 4 })

